#display {
 background-color: black;
 color: #fff;
 width: 415px;
 padding: 8px;
 text-align: right;
} 

.row {
 display: flex;
}

.num_bth {
 text-align: center;
 border: 1px outset black;
 background-color: #c0c0c0;
 color: black;
 width: 104px;
 height: 28px;
 border-radius: 5px; 
 margin: 1px;
}

#clear,#equal_btn {
 text-align: center;
 border: 1px outset black;
 background-color: #c0c0c0;
 color: black;
 width: 212px;
 height: 28px;
 border-radius: 5px; 
 margin: 1px;
}